@import "tailwindcss";
@custom-media --xs (min-width: 480px);
:root {
  /* Brand colors */
  --color-primary: 99 102 241;
  --color-secondary: 129 140 248;
  --color-tertiary: 30 41 59;

  /* Backgrounds */
  --bg-main: 2 6 23;
  --bg-surface: 15 23 42;

  /* Text */
  --text-primary: 248 250 252;
  --text-secondary: 203 213 225;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--bg-main));
  color: rgb(var(--text-primary));
}

.bg-main {
  background-color: rgb(var(--bg-main));
}

.bg-surface {
  background-color: rgb(var(--bg-surface));
}

.text-primary {
  color: rgb(var(--text-primary));
}

.text-secondary {
  color: rgb(var(--text-secondary));
}

.bg-primary {
  background-color: rgb(var(--color-primary));
}

.text-primary {
  color: rgb(var(--color-primary));
}

.border-primary {
  border-color: rgb(var(--color-primary) / 0.3);
}
